.favContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
}

.filtersContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 20px 0px;
  padding: 0 90px;
}

.filtersContainer label {
  width: 100px;
  text-align: center;
  color: #d7f365;
  margin-right: 10px;
}

.filtersContainer select {
  width: 120px;
  background-color: #d7f365;
  color: black;
  border: none;
  outline: none;
}
