.container {
  display: flex;
  justify-content: center;
  margin: 60px;
}

.detailContainer {
  padding: 40px;
  background: #40b6cb45;
  backdrop-filter: 1px solid #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 700px;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 0 50px rgba(195, 62, 210, 0.388);
}

.detailsContainer {
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
  color: #ffffff;
}

.detailsContainer h1 {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  font-size: 3rem;
  color: #c4e246;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px black;
}
