.navBar {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #56565614;
  box-sizing: border-box; /* Agregamos esta propiedad para que el padding se incluya en el ancho total */
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-left: 15px;
  width: 170px;
}

.logoBackground {
  display: flex;
  justify-content: center;
  width: 70px;
  border-radius: 100%;
  transition: transform 0.3s, box-shadow 0.1s, background-color 0.1s;
}

.logoBackground:hover {
  background-color: #c3e2462c;
  transform: scale(1.05);
  box-shadow: 0 0px 60px #caeb4995;
}

.logoutContainer {
  display: flex;
  justify-content: flex-end;
}

.logo {
  width: 150px;
}

.logoutButton {
  color: #c4e246;
  margin: 10px;
  height: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.logoutButton:hover {
  color: #d7f365;
  transform: scale(1.1);
}

.titleContainer h2 {
  font-family: 'Kaushan Script', cursive;
  color: #c4e246;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
